@import "../../bower_components/sass-mq/mq";
@import "../../bower_components/normalize-scss/normalize.scss";
@import 'settings';


body {
	-webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}


/* #Default
================================================== */

html {
  	position: relative;
  	min-height: 100%;  	
  	/* killing 300ms touch delay in IE */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html, body { 
	margin:0;
	height: 100%;
}

body {
	background: $body-bg;	  	
  	font-family: $font-st;  	
  	color: $color-dark;  	
	letter-spacing: .1em;
	font-size: $font-size-base;	
	-webkit-overflow-scrolling: touch;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

i {
	font-style: italic;
}

img {
	width: 100%; 
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

section {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	z-index: 50;
}


/* #Grid 
====================================================*/

.Container {
	position: relative;
	width: 1280px;
	margin: auto;
}

.Row {
	display: block;
	position: relative;
	clear: both;
	overflow: hidden;
}

[class^="Col-"] {
	position: relative;
	display: inline-block;
}



/* #Utilies 
====================================================*/

.u-right {
	float: right;
}

.u-left {
	float: left;
}

.is-hidden {
	display: none;
}

.is-view {
	display: block;
}

.Btn {
	&--open {
		display: none;
		width: 30px;
		height: 30px;
		position: absolute;
		top: -5px;
		right: 15px;
		flex-direction: column;
		overflow: hidden;

		span {
			@extend %Transition;
			width: 100%;
			height: 10px;
			border-bottom: 2px solid $color-light;
			position: relative;
		}

		&:hover {
			span {
				border-bottom: 2px solid $color-nd;
			}
		}
	}
}

.is-open {
	.Btn {
		&--open {
			span {
				position: absolute;
				&:nth-child(1){
					transform: rotate(45deg);
					top: 5px;
					right: 0;
				}

				&:nth-child(2){
					opacity: 0;
				}

				&:nth-child(3){
					transform: rotate(-45deg);
					top: 5px;
					right: 5px;
				}

			}
		}
	}
}



/* #Border-box
====================================================*/

// We switch our box model to Border Box.
// From Paul Irish
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;						
  -webkit-box-sizing: border-box;
}


/* #Placeholder & Mixins
================================================== */

%Transition {	
	transition: $transition;
}

.Transition,
.Transition:hover,
.Transition a,
.Transition a:hover,
.Transition img,
.Transition img:hover,
.Transition div,
.Transition div:hover
.Transition li,
.Transition li:hover
.Transition li a,
.Transition li a:hover,
.Transition a:after,
.Transition a:hover:after,
.Transition:before,
.Transition:hover:before
{
	@extend %Transition;
}

%Title {
	font-family: $font-st;
	text-transform: uppercase;
	font-weight: 300;
	color: inherit;    
}


@mixin gradient($from, $to) {    
    background-color: $from;
    background-image: -moz-linear-gradient(to right, $from, $to);
    background-image: -webkit-gradient(to right, linear, 0% 0%, 0% 100%, from($from), to($to));
    background-image: -webkit-linear-gradient(to right, $from, $to);
	background-image: -o-linear-gradient(to right, $from, $to);
	background-image: linear-gradient(to right, $from, $to);
}