
/* #Global
================================================== */

/* 
    mobile:  320px
    tablet:  740px
    desktop: 980px
    wide:    1300px
*/

@include mq($until: wide) {

    .Container {
        width: 90%;
        font-size: .9em;
    }

    .Box-img {
		width: 120px;
		height: 120px;
	}

    .Main {
        .Boxes {

            &-item {
             padding: 30px 20px;			
            }

            &-photo {
                width: 130px;
            }

            &-text {
                font-size: .9em;               
            }

            &-cod {
                right: 0px;
			    padding: 5px;
            }
        }
    }
    
}


@include mq($until: desktop) {

    .Container {
        width: 95%;
    }   

    .Header {        
               
        .Menu {
           
            a {               
                padding: 20px 10px;
            }
        }
    }

    .Main {

        .Box{
           
            table {
                margin-top: 10px;
            }
        }
        
        .Box-img {
            width: 140px;
            height: 140px;
        }

        .Boxes {

            &-item {
                padding: 30px 20px 50px 20px;			
                height: 250px;
                text-align: center;
            }

            &-photo {
                margin: auto;
                display: block;
                width: 130px;
            }

            &-text {
                font-size: .9em;               
            }

            &-cod {
                right: 0px;
			    padding: 5px;
            }
        }
    }
    
}


@include mq($until: tablet) {

    .Container {
        width: 100%;
    }   

    .Btn {
	    &--open {
            display: flex;
        }
    }

    .Header {
        height: 80px;        

        .Logo {
            width: 140px;
            height: 40px;
            margin: -5px 0 0 10px;
        }

        .Menu {           
            width: 100%;            
            height: 0px;
            position: absolute;
            top: 50px;
            background: $color-rd;
            z-index: 100;
            text-align: center;
            overflow: hidden;
            
            li {
                display: block;
            }
        }

        &.is-open {

            .Menu {
                height: 200px;
            }

        }
    }

    .Main {
        padding: 10px;
        
        .Box {
            text-align: center;

            &.is-view {
		    	height: 270px;			
            }
            
            .Loading {
                background: url('../img/loading.gif') no-repeat center center/20%, $color-light;                
            }

            &-info {
                width: 100%;
                display: block;
                margin: 15px auto 0 auto;                                

                table {
                    width: 100%;

                    td {
                        width: 50%;
                    }

                    td:nth-child(2){                        
                        text-align: left;
                    }
                }
            }

        }

        .Box-img {
            width: 120px;
            height: 120px;
            margin: 20px;
        }
        
        .Boxes {

            .Box-img {
                margin: auto;
            }

            &-item {
               width: calc(95% / 2);	
                padding: 20px 10px 50px 10px;			
                height: 220px;
                margin-bottom: 10px;
            }
            
        }
    }

}