// custom variables and override bootstrap variables

/* #Global
================================================== */

$body-bg: 						#d9d9d9;

/* #Font
================================================== */

$font-st: 						'Open Sans', sans-serif;

$font-size-base:          		1.2em !default;
$line-height-base:        		1.5 !default; // 24/16


/* #Colors
================================================== */

$color-st:						#002b50; // Azul
$color-nd:						#4dd2d2; // Azul Claro
$color-rd:						#092432; // Azul Escuro


$color-dark:					#000000;
$color-light:					#ffffff;
$color-middle:					#707070; 

$color-box:                     #f0f1ef;

$gradient-from:                 #4dd2d2;
$gradient-to:                   #092331;

/* #Transition
================================================== */

$time:							500ms;
$transition:					all ease-in-out $time;


