@import 'base';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* #Header
================================================== */

.Header {
	width: 100%;
	height: 120px;
	padding: 27px 0;
	@include gradient($gradient-from, $gradient-to);

	.Logo {
		width: 256px;
		height: 60px;
		display: block;
		overflow: hidden;
		position: relative;
		float: left;
		background: url('../img/logo-commcepta.svg') no-repeat center center/contain;
	}

	.Menu {
		@extend %Transition;
		float: right;
		display: block;		
		text-transform: uppercase;		

		a {
			@extend .Transition;
			color: $color-light;
			padding: 20px;
			display: inline-block;

			&:hover {
				color: $color-nd;
			}
		}
	}
}


/* #Main
================================================== */

.Main {
	padding: 30px 0;
	

	.Box {
		@extend %Transition;
		width: 100%;
		height: 0;		
		background: $color-box;
		display: block;
		box-shadow: 0 10px 10px rgba($color-dark, .3);
		overflow: hidden;
		position: relative;
		

		.Loading {
			@extend %Transition;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: url('../img/loading.gif') no-repeat center center/5%, $color-light;
			opacity: 0;
			visibility: hidden;
		}
		
		&.is-loading {
			
			.Loading {			
				opacity: 1;
				visibility: visible;
			}
		}

		&.is-view {
			height: 200px;			
		}

		&-img {
			width: 140px;
			height: 140px;
			border-radius: 70px;
			margin: 30px;			
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			background: $color-middle;
			background:  url('../img/loading.gif') no-repeat center center/30%, $color-middle;
		}

		&-info {
			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;		

			table {
				td {

					&:nth-child(1){
						text-transform: uppercase;
						text-align: right;
					}

					&:nth-child(2){
						font-weight: bold;
						padding-left: 10px;
						color: $color-rd;
					}
				}
			}
		}
	}	

	.Boxes {
		width: 100%;
		position: relative;
		margin: 30px auto;		
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-content: center;
		-webkit-flex-flow: row wrap;
		justify-content: space-between;				

		&-item {
			@extend .Transition;
			width: calc(95% / 3);			
			height: 200px;
			display: inline-block;
			background: $color-box;
			box-shadow: 0 10px 10px rgba($color-dark, .3);
			overflow: hidden;
			padding: 30px;			
			text-align: left;
			cursor: pointer;
			margin-bottom: 30px;

			&:hover {
				background: $color-light;
				box-shadow: none;
			}		

			&--selected {
				@extend .Boxes-item;
				background: $color-st;
				color: $color-light;

				&:hover {
					background: $color-st;
					color: $color-light;
					box-shadow: 0 10px 10px rgba($color-dark, .3);
				}
			}
		}

		&-photo {
			width: 150px;
			height: 100%;
			vertical-align: middle;
			position: relative;	
			display: inline-block;

			&-img {
				@extend .Box-img;
				margin: 0;
			}
		}

		&-cod {
			position: absolute;
			background: $color-nd;
			border-radius: 20px;
			color: $color-rd;
			font-weight: bold;
			text-align: center;
			font-size: 1.2em;
			right: 10px;
			
			span {
				padding: 2px 10px;	
			}
			
		}

		&-text {
			display: inline-block;
			vertical-align: middle;
			line-height: .3em;	
			
			strong {
				font-size: 1.2em;
			}
		}
	}
}



/* #Responsive
================================================== */

@import 'responsive';
